__pycache__/
*.pyc
venv/
uploads/
outputs/
results/
sessions/
data/
*.log
.env
*.task

frontend/build/bg.jpg
*.jpg
!frontend/build/favicon.ico

assets/skeleton_v4/*.png

frontend/node_modules/
frontend/dist/



