# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
build/

# Outputs / Uploads
backend/outputs/
backend/uploads/
backend/__pycache__/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
neurolab-*.json
Backup-codes-*.txt
